body {
    font-size: larger;
    background-image:url('station.png');
    height: 100%;
    text-align: center;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

button {
    border: none;
    padding: 10px 0 10px 0;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

#increment-btn {
    background: darkred;
}

#save-btn {
    background: green;
}

p {
    background: rgb(194, 193, 193);
    font-size: 20px;
    font-weight: bold;
    
}